name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  PACKAGE_NAME: Typeform

jobs:
  SwiftActions:
    strategy:
      matrix:
        os: [macos-26, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    permissions:
      actions: read
      checks: write
      pull-requests: write

    steps:
    - name: Checkout Source
      uses: actions/checkout@v4

    - name: Package Resolution
      run: swift package resolve

    - name: Build
      run: swift build -v

    - name: Test (Reporting)
      if: ${{ runner.os == 'macOS' }}
      run: swift test --enable-code-coverage -v 2>&1 | xcbeautify --report junit

    - name: Code Coverage
      if: ${{ runner.os == 'macOS' }}
      run: xcrun llvm-cov export -format="lcov" .build/debug/${{ env.PACKAGE_NAME }}PackageTests.xctest/Contents/MacOS/${{ env.PACKAGE_NAME }}PackageTests -instr-profile .build/debug/codecov/default.profdata > build/reports/coverage.lcov

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      if: ${{ runner.os == 'macOS' }}
      with:
        name: test-results
        path: |
          build/reports/junit.xml
          build/reports/coverage.lcov
        retention-days: 7

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action/macos@v2
      if: ${{ runner.os == 'macOS' }}
      with:
        files: build/reports/junit.xml

    - name: Publish Code Coverage
      uses: lifeart/jest-lcov-reporter@v0.4.0
      if: ${{ runner.os == 'macOS' }}
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        lcov-file: build/reports/coverage.lcov
        update-comment: true

    - name: Test (Execution Only)
      if: ${{ runner.os == 'Linux' }}
      run: swift test -v

    - name: Lint Annotations
      if: ${{ runner.os == 'macOS' }}
      shell: bash
      run: swiftformat --lint . --reporter github-actions-log
